@font-face {
    font-family: "Menlo";
    src: url("/Style/fonts/Menlo-Regular.ttf");
  }

:root {
    background-color: khaki;
    color: forestgreen;
    font-family: "Menlo";
}

#title {
    font-size: 1.5rem;
    letter-spacing: -2px;
    line-height: 0.9em;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
    color: forestgreen;
  }

#title:hover{
    text-decoration: underline;
  }

#container {
    margin-left: 10px;
}

#container>.question {

}

#container>.question>.answer {
    margin-left: 25px;
}